parameters:
  level: 3
  paths:
    - src
#    - contao
  universalObjectCratesClasses:
    - Contao\Database\Result
#    - Contao\Model
#    - Contao\Template
includes:
  - vendor/phpstan/phpstan-symfony/extension.neon