.multi-column-editor-wrapper {
  .entity-filter {
    .mce-row {
      .form-group {
        > h3 {
          display: block;
        }

        &.connective_1 {
          opacity: 0;
        }

        [id*="ctrl_bracketLeft"], [id*="ctrl_bracketRight"] {
          &.tl_checkbox_single_container {
            margin-top: 16px;
          }
        }

        &[class*="bracketLeft"], &[class*="bracketRight"] {
          margin-top: 2px !important;

          label {
            padding: 7px 12px;
            border: 1px solid #aaa;
            border-radius: 2px;
            box-sizing: border-box;
            cursor: pointer;
            transition: background .2s ease;
            margin-left: 0;

            &:hover {
              background: #eee;
            }
          }

          input {
            display: none;

            &:checked + label {
              background: #ccc;
            }
          }
        }
      }
    }
  }
}